{% if ansible_distribution == 'Ubuntu' or ansible_distribution == 'Debian' %}
  # main repository
  {% for rel in apt_dists %}
    {% if rel == 'main' %}
    deb {{ apt_mirror }} {{ ansible_distribution_release }} {{apt_components}}
    {% else %}
    deb {{ apt_mirror }} {{ ansible_distribution_release }}-{{rel}} {{apt_components}}
    {% endif %}

    {% if apt_source %}
    {% if rel == 'main' %}
    deb-src {{ apt_mirror }} {{ ansible_distribution_release }} {{apt_components}}
    {% else %}
    deb-src {{ apt_mirror }} {{ ansible_distribution_release }}-{{rel}} {{apt_components}}
    {% endif %}
  {% endfor %}
{% endif %}

# always add security repository
{% if ansible_distribution == 'Debian' %}
  deb http://security.debian.org {{ ansible_distribution_release }}/updates {{apt_components}}
  {% if apt_source %}
  deb-src http://security.debian.org {{ ansible_distribution_release }}/updates {{apt_components}}
  {% endif %}
{% endif %}
